

.dropbtn {
  background-color: #C9AAE2;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin: 0 20px;
  
}

.dropbtn a{
	color: black;
	text-decoration: none;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #C9AAE2;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


#fundoMenu{
	text-align: center;
  width: 100x;
  position: sticky;
  top: -1px;
}

.dropbtn-cad {
  background-color: #C9AAE2;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin: 0px;
  
}

.dropdown-content a:hover {background-color: #E7D6F5;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #C9AAE2;}

#fundoMenu{
	background-color: #C9AAE2;
}


#fundoRodape{
  background-color: #C9AAE2;
  text-align: center;
  color: black;
  text-decoration: none;
}

#colum1{
  margin-left: 1000px;
  margin-right: 500px;
  background-color: aquamarine;
}

#colum2{
  margin-right: 1000px;
  margin-left: 500px;
  background-color: black;
}

body {
  background-image: url('Design\ sem\ nome.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#fundoBranco{
  display: block;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  
}

table {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 100;
  width: 100%;
  
}

#link {
  text-decoration: none;
  color: black;
  font-size: 170%;
  font-weight: bold;
}

#produtos {
  border: 6px solid #363636;
}
